extends ../layout

block content
    h2= book.title
    div(class="show")
        label(for="title") Title:
        input(type="text", class="show-input" name="title" value=book.title)
    div(class="show")
        label(for="author") Author:
        input(type="text", class="show-input" name="author" value=book.author)
    div(class="show")
        label(for="genre") Genre:
        input(type="text", class="show-input" name="genre" value=book.genre)
    div(class="show")
        label(for="year") Year:
        input(type="text", class="show-input" name="year" value=book.year)
 
    a(href="/book/" + book.id + "/edit" class='btn-change') Edit Book 

    a(href="/book/" + book.id + "/delete" class='btn-change') Delete Book
    p
     a(href="../") &larr; Back to All Books