extends ../layout

block content
    h2= "BOOK DETAILS"
    div(class="show")
        label(for="title") Title: #{book.title}
    div(class="show")
        label(for="author") Author: #{book.author}
    div(class="show")
        label(for="genre") Genre: #{book.genre}
    div(class="show")
        label(for="year") Year: #{book.year}
    br
    a(href="/books/" + book.id + "/edit" class='btn-style-main') Edit Book 

    a(href="/books/" + book.id + "/delete" class='btn-style-main') Delete Book
    p
     a(href="../") &larr; Back to All Books