extends ../layout

block content
    h2= "BOOK DETAILS"
    div(class="show")
        label(for="title") Title: #{book.title}
    div(class="show")
        label(for="author") Author: #{book.author}
    div(class="show")
        label(for="genre") Genre: #{book.genre}
    div(class="show")
        label(for="year") Year: #{book.year}
    p
        a(href="/books/" + book.id + "/edit" class='button') Edit Book 
    p
        a(href="/books/" + book.id + "/delete" class='button') Delete Book
    p
     a(href="../" class="button") &larr; Back to All Books