extends layout

block content
  h1= title
  p Welcome! #{title}
  div(class="buttons-group")
    form(action="/books/new", method="GET")
      input(type="submit", class='btn-style-main', value="Create New Book")
    form(class="search-form" action="/books/?page=0", method="POST")
      input(type="text", id="searchbar" name="query" placeholder="Title, Author, Genre or Year")
      input(type="submit", class='btn-style-main', value="Search")
    form(class="clear-form" action="/books/?page=0", method="POST")
      input.hidden(type="text" name="query")
      input(type="submit", class='btn-style-main', value="Clear")
  div(class="pageDisplay")
    if(books.length > 0)
      table
        thead
          tr
            th Title
            th Author
            th Genre
            th Year
        tbody
          each book in books
            tr
              td(style="width:300px")
                a(href="/books/"+book.id) #{book.title}
              td(style="width:150px")
                p= book.author
              td(style="width:150px")
                p= book.genre
              td(style="width:150px")
                p= book.year
      - var i = 1;
      ul.pagination
        while i < pagesNeeded + 1
          li
            if(i == currentPage+1)
              a.currentPage(href=`/books/?page=${i-1}`)=i++
            else
              a(href=`/books/?page=${i-1}`)=i++
    else
      include no-results